*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient( #9cc9fc,#ee53a0);
}
.center{
    width: 350px;
    background: black;
    border-radius: 20px;
}
.abc{
height: 60px;
width: 300px;
margin-top: 40px;
border-radius: 5px;
border: 1px solid #e1e7ea;
font-size: 22px;
color: black;
font-weight: bold;
text-align: right;
padding-right: 20px;
background: linear-gradient(#d1dce0 , #dfe6e9);

}
.buttons{
    width: 300px;
    margin: 10px 25px 0 27px;
    padding: 10px 0;
}
#btn{
    width: 58PX;
    height: 55px;
    margin: 5px;
    font-size: 22px;
    line-height: 55px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background: linear-gradient(#d9d9d9 , #bfbfbfbf);
    cursor: pointer;
    
}
#btn:hover{
    transition: .5s;
    background: linear-gradient(#bfbfbfbf , #d9d9d9);
}
.clearbtn{
    background: #ff1a1a !important;
    border: 1px solid #cc0000 !important;
    color: white !important;
}
.equalbtn{
   width: 275px !important;
   margin: 10px 0 10px 0 !important;
   font-size: 30px !important;
   color: white !important;
   background: #ff3d00 !important;
   border: 1px solid #ff3d00 !important;
}